aiogram==3.10.0
telethon
nest_asyncio
pypdf
python-docx
aiohttp
sqlalchemy
aiosqlite
tenacity
python-dotenv
chromadb
google-generativeai
redis
openpyxl
python-pptx
beautifulsoup4
google-genai
pytz
aiohttp-socks
